.vito{
  display: flex;
  justify-content: space-around;
}
nav a, a:link{
  padding: 30px;
  text-decoration: none;
  
}
 

nav a:hover{
  background-color: black;
 color: brown;

}
.fixe{
  background-color: black;
 color: brown;

}
.fond{
  background-image: url('https://cdn.pixabay.com/photo/2017/02/15/10/57/pizza-2068272_1280.jpg');
  height: 50em;
  padding: 5opx;
  }
.bien{
  text-align: right;
  color: red ;
  padding: 80px;
  
}
header{
  background-color: beige;
}
.george{
  padding: 50px;
}
.G{
  padding-left: 70px;
}
.mb-3{
  padding: 3opx;
}
.niger{
  text-align: center;
  padding: 15px;
}
.icone{
 text-align: center;
 padding-top: 40px;
}

.fred{
  text-align: center;

}